
@{
    ViewData["Title"] = "Erişim Yetkisi Hatası";
}
<div class="container">
    <h2 class="font-danger">Erişim Yetkisi Yok</h2>

    <p class="font-danger">üzgünüm! Bu sayfayı görmek için gerekli yetkiye sahip değilsiniz.</p>
</div>